@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root{
    --heading-color: #f8f8f8;
    --bg-color: #000;
    --btn-color: #e50914;
    --input-bg: #ffffff;
    --footer-text: #f3f3f3;
    --question-bg: #555555;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
}
section{
    border-bottom: 8px solid #444;
    background-color: #000;
    min-height: 500px;
    color: #fff;
}
.banner-bg{
    background-image: url(../images/netflex_banner.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    min-height: 80vh;
    position: relative;
    z-index: 2;
    
}
.banner-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;top: 0;
    background-image: linear-gradient(to right top, #000003, #020609, #030b0d, #06100e, #0d130e);
    z-index: -1;
    opacity: .5;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header-area{
    padding: 10px 20px;
}
.header-area img{
    width: 12%;
    
}
.sign-in {
    background-color: var(--btn-color);
    width: 90px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.home-content {
	padding: 150px 0px;
}
.content-wrapper {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.hero-text {
    font-size: 75px;
    line-height: 80px;
    font-weight: 700;
    padding-top: 100px;
}
.sub-title {
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}
.text-info{
    font-size: 20px;
}

.subscribe {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
}

input[type="text"] {
    width: 70%;
    float: left;
    padding: 22px 15px;
    border: 1px solid #fff;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
}
.subscribe-btn {
    float: left;
    color: #fff;
    background-color: var(--btn-color);
    padding: 15px 30px;
    font-size: 29px;
    width: auto;
}
.left-content {
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
    width: 50%;
}
.tv-section{
    background-color: #000;
}
.right-content{
    width: 50%;
}

.tv-content {
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}
.tv-heading {
    font-size: 55px;
    font-weight: 700;
    line-height: 90px;
}

.tv-text {
    font-size: 25px;
    text-align: justify;
}
.stranger-right{
    width: 50%;
}
.stranger-left{
    width: 50%;
}
.stranger-content{
    width: 75%;
    margin: 0 auto;
}
section.slogan-text{height: 350px;}
.content-slogan {
    width: 60%;
    margin: 0 auto;
}
.kids-heading{
    font-size: 55px;
    line-height: 90px;
}
.kids-text{
    font-size: 25px;
}

.qa-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}
.qa-title {
    font-size: 45px;
    font-weight: 800;
    padding: 35px 0;
}
.qa-item-box {
    width: 50%;
    background: #303030;
    margin-bottom: 10px;
    padding: 20px 20px;
    font-size: 25px;
    cursor: pointer;
}
.qa-btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.subscribe {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
}
input[type="text"] {
    width: 70%;
    float: left;
    padding: 22px 10;
    border: 1px solid #fff;
    font-size: 18px;
    color:#000;
    border-radius: 5px 0 0 5px;
}
.subscribe-btn {
    float: left;
    color: #fff;
    background-color: var(--btn-color);
    padding: 15px 30px;
    font-size: 29px;
    width: 30%;
}
.footer-section{
    background-color: #000;
    min-height: 300px;
    color: #fff;
}
.footer-area{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}
.col-1-4{
    width: 25%;
    color: #fff;
    text-align: left;
}
ul{
    list-style: none;
}
ul li {
    padding: 5px 0;
}
ul li a {
    color: #757575;
    font-size: 13px;
    font-weight: 700;
}
ul li a:hover{
    text-decoration: underline;
}
.footer-title {
    font-size: 16px;
    color: #757575;
    padding: 20px 0;
    font-weight: 800;
}
h4.footer-title {
    font-size: 14px;
}
